<!DOCTYPE html>
<html lang="ja">

<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css " href="{% static "css/index.css" %}" />
  <title>index</title>


</head>
<h2>時間割(Timetable)</h2>
<table>
  <tr>
<th></th>
<th>月(Mon)</th>
<th>火(Tue)</th>
<th>水(Wed)</th>
<th>木(Thu)</th>
<th>金(Fri)</th>
<th>土(Sat)</th>
  </tr>
  <tr>
<th>1</th>
<td>{{mon1}}</td>
<td>{{tue1}}</td>
<td>{{wed1}}</td>
<td>{{thu1}}</td>
<td>{{fri1}}</td>
<td>{{sat1}}</td>
  </tr>
  <tr>
<th>2</th>
<td>{{mon2}}</td>
<td>{{tue2}}</td>
<td>{{wed2}}</td>
<td>{{thu2}}</td>
<td>{{fri2}}</td>
<td>{{sat2}}</td>
  </tr>
  <tr>
<th>3</th>
<td>{{mon3}}</td>
<td>{{tue3}}</td>
<td>{{wed3}}</td>
<td>{{thu3}}</td>
<td>{{fri3}}</td>
<td>{{sat3}}</td>
  </tr>
  <tr>
<th>4</th>
<td>{{mon4}}</td>
<td>{{tue4}}</td>
<td>{{wed4}}</td>
<td>{{thu4}}</td>
<td>{{fri4}}</td>
<td>{{sat4}}</td>
  </tr>
  <tr>
<th>5</th>
<td>{{mon5}}</td>
<td>{{tue5}}</td>
<td>{{wed5}}</td>
<td>{{thu5}}</td>
<td>{{fri5}}</td>
<td>{{sat5}}</td>
  </tr>
  <tr>
<th>6</th>
<td>{{mon6}}</td>
<td>{{tue6}}</td>
<td>{{wed6}}</td>
<td>{{thu6}}</td>
<td>{{fri6}}</td>
<td>{{sat6}}</td>
  </tr>
</table>




</body>

</html>
