div.background-color{
margin:0;
padding: 10px 10px 20px 20px;
background-color: #cfd8dc;
}

div.background-color1{
margin:0;
padding: 10px 10px 20px 20px;
background-color: #33b5e5;
}

div.background-color2{
margin:0;
padding: 10px 10px 20px 20px;
background-color: #FF8800;
}

#btn_1 {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

#btn_1:active {/*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

#btn_2 {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    border-radius: 0 15px 15px 0;
    transition: .4s;
  }

#btn_2:hover {
    background: #636363;
}

.center{
  text-align: center;
}





body {
  display: block;
}

h2 {
  margin: 0px;
  padding: 10px 10px 20px 20px;
  border-bottom: solid 5px #cfd8dc;
  background-color: #cfd8dc;
  text-align: center;
}

table {
  display: block;
  display: inline-block;
}

th {
  font-family:sans-serif;
  background-color: #cccccc;
}

td {
  font-family:sans-serif;
  margin: 10px 10px 20px 20px;
  padding: 10px 10activate px 20px 20px;
  border: solid 1px #ffffff;
  background-color: #eeeeee;

}

p {
  font-family:sans-serif;

}

form {
  font-family:sans-serif;
  margin: 10px 10px 20px 20px;
  padding: 10px 10px 20px 20px;
  border: solid 5px #cccccc;
  background-color: #eeeeee;
}
